TableView#day-table {
  -fx-font-size: 8.5pt;
}

#day-table #date {
  -fx-alignment: CENTER_RIGHT;
  -fx-pref-width: 6em;
}

#day-table #day-type {
  -fx-alignment: CENTER_LEFT;
  -fx-pref-width: 6em;
}

#day-table #begin,
#day-table #end,
#day-table #break,
#day-table #interruption,
#day-table #working-time,
#day-table #overtime,
#day-table #total-overtime
{
  -fx-alignment: CENTER;
  -fx-pref-width: 4em;
}

#day-table #comment
{
  -fx-pref-width: 20em;
}

.table-row-cell:not-working {
	-fx-background-color: -fx-table-cell-border-color, lightyellow;
}

.table-row-cell:weekend {
	-fx-background-color: -fx-table-cell-border-color, #f8eeee;
}

.table-row-cell:not-working:selected {
	-fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
}
.table-row-cell:weekend:selected {
	-fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
}

.scroll-bar:vertical {
    -fx-pref-width: 20;
}

.scroll-bar:horizontal {
    -fx-pref-height: 20;
}