/.gradle/
**/.classpath
**/.project
**/.settings/org.eclipse.buildship.core.prefs
**/bin/
**/build/
/time.properties
**/logs/
/.idea
/webstart/keystore.jks
/webstart/webstart.properties
/webstart-infrastructure/node_modules/
/webstart-infrastructure/cdk.out/
/webstart-infrastructure/config.ts
!/webstart-infrastructure/bin
