/.gradle/
**/.classpath
**/.project
**/.settings/org.eclipse.buildship.core.prefs
**/bin/
**/build/
/time.properties
/.idea
/plugins/pmsmart/src/test/java/org/itsallcode/whiterabbit/plugin/pmsmart/Tester.java
/build-fast.bat
/build-fast-and-run.bat
/launch.bat
.DS_Store
