.tooltip {
    -fx-text-fill: black;
    -fx-background-color: rgba(255,255,225, 1);
    -fx-padding: 3px 5px 3px 5px;
    -fx-font: normal 9pt "Sergoe UI";
    -fx-line-spacing: -1px;
    -fx-background-radius: 3px;
    -fx-border-color: black;
}

.scroll-bar:vertical {
    -fx-pref-width: 20;
}

.scroll-bar:horizontal {
    -fx-pref-height: 20;
}