TableView#day-table {
  -fx-font-size: 8.5pt;
}

#day-table #date {
  -fx-alignment: CENTER;
}

#day-table #day-type {
  -fx-alignment: CENTER_LEFT;
}

#day-table #begin,
#day-table #end,
#day-table #break,
#day-table #interruption,
#day-table #working-time,
#day-table #overtime,
#day-table #total-overtime
{
  -fx-alignment: CENTER;
  -fx-pref-width: 4em;
}

#day-table #comment
{
  -fx-pref-width: 15em;
}

.working {
  /* -fx-background-color: white; */
}

.not-working {
  /* -fx-background-color: gainsboro; */
}
